{% comment %}
Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:
1. Head over to https://realfavicongenerator.net/ to add your own favicons.
2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.




{% endcomment %}

<link rel="stylesheet" href="{{ site.baseurl }}/assets/modules/bootstrap/bootstrap.min.css">
<script type="text/javascript" src="{{ site.baseurl }}/assets/modules/bootstrap/bootstrap.bundle.min.js"></script>

<link rel="stylesheet" href="{{ site.baseurl }}/assets/modules/animate//animate.min.css">
<script type="text/javascript" src="{{ site.baseurl }}/assets/modules/charts/chart.js"></script>
<link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
<script>
var site = {
    baseurl: "{{ site.baseurl }}",
    // Add other site configuration data here
};
</script>