---
--- 
@import "minima/skins/{{ site.minima.skin | default: 'classic' }}",
"minima/initialize";

@import url('{{ site.baseurl }}/assets/css/all.min.css');

// OVERWRITES

p {
    margin-bottom: 0px;
}

.container {
    max-width: none;
}

// CUSTOM
header {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.resizing-input input,
.resizing-input span {
    white-space: pre;
}


.logo-img {
    width: 40px;
    /* Adjust the width as needed */
    transition: transform 0.3s;
    /* Add transition for smooth hover effect */
    margin-right: 20px;
    border: 20px rgba(0, 0, 0, 1);
}

.logo-img:hover {
    transform: scale(1.5);
    /* Increase the size on hover */
}

$header-height: 50px;

.hidden-header {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.visible-header {
  transform: translateY(0);
}

.site-header {
    height: $header-height;
    border-bottom: none; /* Remove the bottom border */
    background-color: rgba(0,0,0,0);
    position: fixed;
    top: 0px; right: 0px; left: 0px; 
}

.page-link-btn {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid transparent;
    border-radius: 20px;
/*    padding: 10px 20px;*/
/*    background-color: #f0f0f0;*/
/*    color: #333;*/
    padding: 10px;
    margin: 5px;
  transition: background-color 0.1s ease-in-out; /* Add transition property */

}

/* Apply grey border on hover */
.page-link-btn:hover {
    background-color: rgba(0, 0, 0, .1);
}
#start {
    position:fixed;
    top:100px;bottom:10px;left:50%;right:10px;
}

#main {
    position:fixed;
    top:100px;bottom:0px;left:0px;right:0px;
    width: 100%;
}

#main-row {
    position:absolute;
    top:0px;bottom:0px;left:0px;right:0px;
    width: 100%;
}

.custom-vfill-box {
/*    position: absolute;*/
/*    display: flex;*/
    height: 95%;
}

.custom-vfill {
    flex: 1;
}

.custom-rounded {
    border-radius: 20px;
}


.c-blue {
    background-color: blue;
}

.c-green {
    background-color: green;
}

/* Set flexbox layout for the sections */
/*#section2 {*/
.custom-vfill {
    display: flex;
    flex-direction: column;
    height: 100%; 
}


/*#section2-sen-row, #section2-rep-row {*/
/*}*/

#section2 {
    background-color: rgba(200,200,200,1);
}

#section2-sen-row {
/*    flex: 2; */
/*    display: flex;*/
/*    flex-direction: column;*/
}

.sen-card-box-title {
/*    flex: 1;*/
}
.sen-card-box {
/*    flex: 5;*/
}

.sen-card, .rep-card {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.hover-card {
  transition: transform 0.3s ease, background-color 0.3s ease;
  background-color: rgba(255, 255, 255, 0.2);
}

.hover-card:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.4);
}

#section2-rep-row {
    flex: 18; /* 70% of the available space */
    overflow: auto;
}

.img-sen {
    width: 70%;
    min-width: 70%;
    height: 70%;
    object-fit: cover;
}

.img-rep {
  height: 70px; 
  width: 70px; 
  min-width: 70px;
  object-fit: cover;
}

#representatives-list {
}

.rep-card {

}


/* Style for the "X" button in Section 3 */
#closeSection3 {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 49px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.2);
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s, transform 0.3s;
}

#closeSection3:hover {
    background-color: rgba(0,0,0,.6);
    transform: scale(1.1);
    font-size: 25px;
}

#pol-card {
    background-color: rgba(0,0,0,0);
    border: none;
}

#s3-plots {
    overflow-y: scroll;
}
