---
--- 
@import "minima/skins/{{ site.minima.skin | default: 'classic' }}",
"minima/initialize";

@import url('{{ site.baseurl }}/assets/modules/fontawesome/all.min.css');

// OVERWRITES

p {
    margin-bottom: 0px;
}

.container {
    max-width: none;
}

// CUSTOM
header {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.resizing-input input,
.resizing-input span {
    white-space: pre;
}

.logo-img-div {
    transition: transform 0.3s;
}
.logo-img-div:hover {
    transform: scale(1.5);
    /* Increase the size on hover */
}


.logo-img {
    width: 140px;
    /* Adjust the width as needed */
    /* Add transition for smooth hover effect */
    margin-right: 20px;
    // border: 20px rgba(0, 0, 0, 1);
}

$header-height: 50px;

.hidden-header {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

.visible-header {
    transform: translateY(0);
}

.site-header {
    height: $header-height;
    border-bottom: none;
    /* Remove the bottom border */
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
}

.page-link-btn {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid transparent;
    /*    padding: 10px 20px;*/
    /*    background-color: #f0f0f0;*/
    /*    color: #333;*/
    padding: 10px;
    margin: 5px;
    transition: transform 0.1s ease-in-out;
    /* Add transition property */

}

/* Apply grey border on hover */
.page-link-btn:hover {
    // background-color: rgba(0, 0, 0, .1);
    // font-size: 28px;
    transform: scale(1.3);
}



#main {
    position: fixed;
    top: 100px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    background-color: #efefef;
}

#main-row {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
}

.custom-vfill-box {
    /*    position: absolute;*/
    /*    display: flex;*/
    height: 95%;
}

.custom-vfill {
    flex: 1;
}

.custom-rounded {

}


.c-blue {
    background-color: blue;
}

.c-green {
    background-color: green;
}

/* Set flexbox layout for the sections */
/*#section2 {*/
.custom-vfill {
    display: flex;
    flex-direction: column;
    height: 100%;
}




#section1sub {
    margin-left: 25px;
    min-width: 400px;
}

#mapparent {
    // margin-right: 50px
    padding-right: 50px;
}

#section2 {
    // background-color: rgba(200,200,200,1);
    margin-right: 0px;
    margin-left: 20px;
}

#section2-sen-row {
    background-color: #fff;
    /*    flex: 2; */
    /*    display: flex;*/
    /*    flex-direction: column;*/
    margin-bottom: 0px;
}

.sen-card-box {
    /*    flex: 5;*/
}

.sen-card-box {
    // height: 150px;
}

.sen-card,
.rep-card {
    border: none;
    background-color:#fff;
    backdrop-filter: blur(10px);
    padding: 0 !important;
    margin:0 !important;
    cursor: pointer;
}



.hover-card {
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.hover-card:hover {
    transform: scale(1.05);
}

#section2-rep-row {
    flex: 20;
    /* 70% of the available space */
    overflow: auto;
}

.img-sen {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 20px !important;
    padding: 0px !important;
}

.img-rep {
    height: 70px;
    width: 70px;
    min-width: 70px;
    object-fit: cover;
}

#representatives-list {}

.rep-card {}


/* Style for the "X" button in Section 3 */
#closeSection3 {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 49px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .2);
    // color: #fff;
    // font-size: 20px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // cursor: pointer;
    // border: none;
    transition: background-color 0.3s, transform 0.3s;
}

#closeSection3:hover {
    background-color: rgba(0, 0, 0, .6);
    transform: scale(1.1);
    // font-size: 25px;
}

#pol-card {
    // background-color: rgba(0, 0, 0, 0);
    border: none;
}

#s3-plots {
    overflow-y: scroll;
}

#avatar {
    width: 10vw;
    height: 10vw;
    object-fit: cover;
}

.donut-inner {
    margin-top: -100px;
    margin-bottom: 100px;
}

.donut-inner h5 {
    margin-bottom: 5px;
    margin-top: 0;
}

.donut-inner span {
    font-size: 12px;
}


#start {
    // position: fixed;
    // top: 100px;
    // bottom: 10px;
    // left: 50%;
    // right: 10px;
}

#carousel {
    margin-right: 100px;
}

.carousel-indicators li {
  background-color: rgba(70, 70, 70, 0.25);
}

.carousel-indicators .active {
  background-color: #444;
}


.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.rank{
    font-weight: bold;
    font-size: 1.5em;
    margin-right:10px;
}

.leg-card {
    border: none;
    background-color: #fff;
    backdrop-filter: blur(10px);
    cursor: pointer;
    margin-bottom: 0;
}


.leg-title-card {
    border: none;
    color: #fff !important;
    background-color: #1b365d;
    padding: 10px 0 10px 0;
    margin:0;
    width:100%;


}

.leg-title-card h4 {
    color: #fff !important;
    padding:0;
    margin:0;
}


.text-bold{
    font-weight: bold;
}

.form-select{
    padding: 0px !important;
    border: 1px solid black;
    font-size: 1rem!important;
}

.my-2{
 margin-top:0 !important;
 margin-bottom:0 !important;
}

.mt-2{
    margin-top:0!important;
    background-color: #fff;
}

.scroll{
    overflow-y: scroll!important;
}

h3, h4{
    color: #1b365d !important;
    font-weight: bold;
    font-size: 1rem;
}

h1, h2 {
    color: #1b365d!important;
    font-weight: bold;
}

.detail{
    background-color: #F75C03 !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top:10px !important;
}
.detail h2{
    color:#fff !important;
    padding:10px;
    margin-bottom: 10px;
    font-size: 1.25rem;

}



  .top{

  }

  .m-0{
    padding:0 !important;
  }

  #parallaxImage h1{
    color:#fff !important;
    padding-top:20px;
    text-align: center;
    text-shadow: 2px 2px black;
    background-color: #1b365d !important;
  }


 #main-row {
    margin-top:20px !important;
}

.card-body{
    padding:5px;
}

#section3-box{
    // background-color: #fff !important;
    font: 100px;
}

.mt-2{
    overflow-y: scroll !important;
}

.m-2{
    margin:0 !important;
}

.title-card {
    border: none;
    color: #fff !important;
    background-color: #2274A5;
    padding: 20px;
    margin:0;
    width:100%;
    margin-bottom: 20px;
    border-radius: 8px;

}

.title-card h4 {
    color: #fff !important;
    padding:0;

    margin:0;
} 

.p-4{
    background-color: white;
    margin:0px;
    margin-right:40px;
    margin-left:40px;
    padding:0px !important;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.profile-card-box-title{
    border: none;
    // border-bottom:#2274A5 3px solid !important;
    background-color:#1b365d;
    margin-top:0 !important;
    width:100%;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 1rem;
    padding: 5px 5px 5px 10px !important;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    color:#fff
}

.maincard h6 {
    color: #1b365d !important;
    font-size: 1rem;
    font-weight: bold;
    padding-top:10px;
} 

.sen-card-box-title{
    border: none;
    background-color: #fff !important;
    color: #fff;
    padding: 10px 0 0px 0;
    margin:0;
    width:100%;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 1rem;
}

.sen-card-box-title h3 {
    color: #1b365d !important;
    padding:0;
    margin:0;
    // border-bottom: #1b365d 2px solid;
    margin-left:20px;
    margin-right:20px;
} 

// .sen-card-parent{
//     margin:0;
//     padding:0px;
//     margin-top:5px;
// }

.right-border{
    border-right:3px solid black;
}

.state-title{
    border: none;
    background-color: #1b365d !important;
    color: #fff !important;
    padding: 10px 0 0px 0;
    margin:0;
    width:100%;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 2rem;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.state-title h2{
    color:#fff !important;
    font-size: 1.25rem !important;
}

#parallaxImage {
    //background-image: url(https://polarizationresearchlab.org/wp-content/uploads/2023/08/AdobeStock_438192666-1.jpeg);
    background-color: #1b365d !important;
    background-width: 100%;
    min-width: 100%;
    /*background-size: cover;*/
    /*background-size: contain;*/
    /*the below line works on my screen but isn't dynamic at all.*/
    background-size: 100% auto;
    //box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    position: relative;
    height: 100px;
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
  }

.page-content{
    padding-top: 0px!important;
}
.topline{
    border-top: 4px solid #1b365d;
}

.mt-5{
    margin-bottom: 0px !important;
}

.maincard{
    // border: 1px solid #1b365d;
    padding:20px;
    margin-bottom: 20px !important;
    background-color: #fff;
}
.small {
    font-size: .75rem;
}

.title{
    color: #1b365d !important;
    padding:20px;

}
.title h2{
    font-size: 2rem;
}

.recent-examples {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 1.3s ease;
}

.slide-in {
  height: auto;
  transition: height 1.3s ease;
}

.category-card {
  //cursor: pointer; /* Add cursor pointer for category-card */

}

.right-text{
    text-align: right;
    font-size: .75rem;
}

.box {
    display: flex;
  }

#discourse-bar-div {
    height: 250px;    
}

#discourse-bar {
    height: 100%;
    width: 100%;
}

.source-bar-div {
    padding-right: 40px;
}

.switch{
    margin: 10px;
    padding-left:40px;
    padding-right:40px;
}

.btn_switch {
    background-color: #2274A5;
    color: #ffffff;
}