path {
    stroke: white;
    fill: rgb(52, 53, 56) !important;

    transition: fill .4s ease;
    transform-origin: center center;
}

path:hover {
    fill: rgb(0, 188, 255) !important;
    cursor: pointer;
    transform: scale(1.005, 1.005);
}

#us-map {
    width: 100%;
    height: 50vh;
/*    padding-right: 50px;*/
}


#details-box {
    box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.7);
    opacity: 0%;
    padding: 1rem;
    border-radius: 8px;
    font-size: 24px;
    position: fixed;
    color: white;
    font-family: "Poppins";
    background-color: black;
    width: fit-content;
    transform: translateX(-50%);
    transition: opacity .4s ease;
    z-index: 1;
}

