<h2 class='title'><span id='profile-role'></span> <span id='profile-name'></span>'s Profile</h2>
<!-- Politician profile card -->
<div class="col-3 bg-transparent">
    <div class="h-50 bg-transparent">
        <div class="card bg-transparent" id='pol-card'>
            <a href="" id='avatar-link' class='hover-card'><img src="{{ site.baseurl }}/assets/img/avatar-default.svg" id='avatar' class="card-img-top rounded-circle mx-auto mt-3 img-sen" alt="Politician"></a>
            <!-- SOCIAL MEDIA LINKS! Gov page; twitter; facebook; instagram; tiktok; whatever we get from our core table -->
            <div class="card-body  overflow-y-auto h-100">
                <div class="small">
                    <p>Serving the <span id='profile-chamber'></span> since <span id='profile-serving-chamber-since'></span></p>
                    <p>Serving Congress since <span id='profile-serving-congress-since'></span></p>
                    <p><span id='profile-party'></span> from <span id='profile-state'></span></p>
                    <p>Next election: <span id='profile-next-election'></span></p>
                    <span id='profile-district'></span>
                    <span id='profile-class'></span>
                    <p>Born: <span id='profile-birthday'></span></p>
                    <br>
                    <p>Political Ideology:</p>
                    <img id="mini-ideology-img">
                    <div>
                        <!-- <i class="bi-alarm" style="font-size: 2rem; color: cornflowerblue;"></i> -->
                        <span>
                        </span>
                    </div>
                    <div class="row mt-4">
                        <div>
                            <a href="" id='profile-links-gov'>
                                <i class="bi bi-bank fs-4"></i> <!-- Government building icon -->
                            </a>Biography
                        </div>
                        <div>
                            <a href="" id='profile-links-twitter'>
                                <i class="bi bi-twitter fs-4"></i>
                            </a>Twitter/X
                        </div>
                        <div>
                            <a href="" id='profile-links-facebook'>
                                <i class="bi bi-facebook fs-4"></i>
                            </a>Facebook
                        </div>
                        <!-- <div class="col">
                            <a href="" id='profile-links-website'>
                                <i class="bi bi-globe fs-4"></i>
                            </a>
                        </div> -->
                        <div>
                            <a href="" id='profile-links-contact'>
                                <i class="bi bi-envelope fs-4"></i>
                            </a> Contact
                        </div>
                    </div>
                </div>
                <!-- <p class="card-text">Serving since <span id="section3-serving-since"></span></p> -->
                <!-- <p class="card-text">Pledge of Civility: <span id="section3-pledge"></span></p> -->
                <br>
                <!-- <div id='ideology'> -->
                <!-- <h2>Ideology</h2> -->
                <!-- </div> -->
                <!--                 <div class='ideo-hist-div w-100 mx-auto'>
                  <canvas id = "ideo-hist" class="dynamic-chart" data-script="{{ site.baseurl }}/assets/modules/charts/ideo-hist.js" data-source="{{ site.baseurl }}/assets/data/ideo-hist.json"></canvas>
                </div>  -->
            </div>
        </div>
    </div>
    <div class="h-50">
    </div>
</div>
<div class="col-9 h-100">
    <div class="h-100 d-flex flex-column">
        <div class="overflow-auto flex-grow-1 my-0" id="s3-plots">
            <h5 class='mt-5 profile-card-box-title' id="talk"></h5>
            <div class="maincard">
                <p>We collected everything <span class="name"></span> said in Congress, to the media, to constituents, and on Twitter/X. We then looked at what they said to understand when they are working for America (talking about policy/foreign policy, compromising, and advancing legislation), and when they are generating conflict (insulting people, blaming people, and making accusations).</p>
                <h6>Substance or division?</h6>
                <ul class="nav nav-tabs" id="DiscoursePlotTabPanel" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="overall-tab" data-bs-toggle="tab" data-bs-target="#overall-tab-pane" type="button" role="tab" aria-controls="overall-tab-pane" aria-selected="true">Overall</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="inCongress-tab" data-bs-toggle="tab" data-bs-target="#inCongress-tab-pane" type="button" role="tab" aria-controls="inCongress-tab-pane" aria-selected="false">In Congress</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="twitter-tab" data-bs-toggle="tab" data-bs-target="#twitter-tab-pane" type="button" role="tab" aria-controls="twitter-tab-pane" aria-selected="false">On Twitter/X</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="public-tab" data-bs-toggle="tab" data-bs-target="#public-tab-pane" type="button" role="tab" aria-controls="public-tab-pane" aria-selected="false">Press Releases/Newsletters</button>
                    </li>
                </ul>
                <div class="tab-content" id="DiscoursePlotTabPanelContent">
                    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0"></div>
                    <div class="tab-pane fade" id="inCongress-tab-pane" role="tabpanel" aria-labelledby="inCongress-tab" tabindex="0"></div>
                    <div class="tab-pane fade" id="twitter-tab-pane" role="tabpanel" aria-labelledby="twitter-tab" tabindex="0"></div>
                    <div class="tab-pane fade" id="public-tab-pane" role="tabpanel" aria-labelledby="public-tab" tabindex="0"></div>
                </div>
                <div class='row' id='discourse'>
                    <div class='col-12' id='discourse-bar-div'>
                        <canvas id='discourse-bar' class='dynamic-chart' data-script="{{ site.baseurl }}/assets/modules/charts/discourse-bar.js"></canvas>
                    </div>
                    {% comment %}
                    <!-- in the future -->
                    <div class='col-8' id='discourse-pie-source-div'>
                        <canvas id='discourse-pie-source' class='dynamic-chart' data-script="{{ site.baseurl }}/assets/modules/charts/discourse-pie-source.js"></canvas>
                    </div>
                    {% endcomment %}
                </div>
                <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
                <h6>How do they compare to other members of Congress?</h6>
                <p>We compared <span class="name"></span> to all other members of Congress. Higher ranks mean that <span class="name"></span> spent more time focused on that category.</p>
                <div class="mt-4 mr-4 row">
                    {% assign index = 0 %}
                    {% for category in site.data.meta.categories %}
                    <div class='col-6 mx-auto {% comment %}hover-card{% endcomment %} category-card align-items-middle' id='profile-card-category-{{category}}'>
                        <div class='row'>
                            <h5 class="text-center text-wrap mt-0 gauge-header">{{ site.data.meta.category_labels[index] }}</h5>
                            <div class='col-4 category-gauge my-auto align-items-middle'>
                                <div class="w-100 category-gauge-div position-relative mt-0">
                                    <canvas id="gauge-{{category}}" class="dynamic-chart" data-script="{{ site.baseurl }}/assets/modules/charts/gauge.js" data-gauge="50" data-max="{{ site.data.meta.max_politicians }}" data-color="green"></canvas>
                                </div>
                                <div class="w-100 d-flex justify-content-between">
                                    <div class="text-secondary small">1</div>
                                    <div class="text-secondary small">535</div>
                                </div>
                                <h5 class="text-center text-wrap mt-0"><span class="place"></span></h5>
                            </div>
                            <div class='col-8'>
                                <div class='source-bar-div position-relative h-100'>
                                    <canvas id='source-bar-{{category}}' class='dynamic-chart source-bar' data-script="{{ site.baseurl }}/assets/modules/charts/source-bar.js"></canvas>
                                </div>
                            </div>
                            {% comment %}
                            <div class='position-relative recent-examples w-100 px-4 mb-4' id='recent-examples-{{category}}'>
                                <br>
                                <div class='w-100 bg-light bg-gradient rounded px-4 mt-2'>
                                    <figure>
                                        <br>
                                        <h5 class='w-100 text-center mt-2 bg-light bg-gradient'>Recent Example</h5>
                                        <blockquote class="blockquote" id='profile-quote-{{ category }}'>
                                        </blockquote>
                                        <figcaption class="blockquote-footer">
                                            <cite id='profile-quote-info-{{ category }}'></cite>
                                        </figcaption>
                                    </figure>
                                    <!-- <a href='' id='profile-quote-source-{{category}}'>source</a> -->
                                    <br>
                                    <br>
                                </div>
                            </div>
                            {% endcomment %}
                        </div>
                    </div>
                    {% assign index = index | plus: 1 %}
                    {% endfor %}
                </div>
            </div>
            <h5 class='mt-5 profile-card-box-title' id="ideology">How liberal or conserative they are</h5>
            <div class="maincard">
                <p>We compared each member of the House and Senate to the other current elected members of the House and Senate. The figure below shows how conservative or liberal each person in Congress is compared to their peers.</p>
                <img id="ideology-img" width="800" height="=850">
                <p class="right-text">Data from: <a href="https://voteview.com/">voteview.com</a></p>
                <p class="right-text">Learn more: <a href="https://voteview.com/articles/Ocasio-Cortez_Omar_Pressley_Tlaib">Why are Ocasio-Cortez, Omar, Pressley, and Talib moderates?</a></p>
            </div>
            <h5 class='mt-5 profile-card-box-title' id="efficacy">How effective they are</h5>
            <div class="maincard">
                <p>We tracked the status of every bill introduced or co-sponsored by <span class="name"></span> to see how successful they are passing legislation and what kinds of bills they focus on.</p>
                <h6>Introducing and passing legislation</h6>
                <img id="efficacy-img">
                <h6>Cosponsoring and passing legislation</h6>
                <img id="efficacy-co-img">
                <h6>What kinds of bills does <span class="name"></span> introduce and cosponsor?</h6>
                <img id="policy_area-img">
                <h6>Showing up to vote</h6>
                <p>We tracked how often <span class="name"></span> skipped votes in Congress.</p>
                <img id="attendence-img">
            </div>
            <h5 class='mt-5 profile-card-box-title' id="money">How liberal or conserative they are</h5>
            <div class="maincard">
                <p>We tracked every campaign contribution made to <span class="name"></span> in 2022 and 2023.</p>
                <h6>How much money has <span class="name"></span> raised?</h6>
                <img id="money-total-img">
                <h6>How many people gave money to <span class="name"></span>?</h6>
                <img id="money-count-img">
                <h6>Is <span class="name"></span> funded by constituents or out-of-state activists?</h6>
                <img id="money-inout-img">
                <h6>Where did the money given to <span class="name"></span> come from?</h6>
                <img id="money-map-img">
                <p>The darker the state, the more money <span class="name"></span> rasied from people who live there.</p>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>