
    <h2 class='title'>[Representative/Senator Name]'s Profile</h2>


<!-- Politician profile card -->
<div class="col-4">
    <div class="h-50">
        <div class="card" id='pol-card'>
            <img src="{{ site.baseurl }}/assets/img/avatar-default.svg" id='avatar' class="card-img-top rounded-circle mx-auto mt-3 img-sen" alt="Politician" >
            <!-- SOCIAL MEDIA LINKS! Gov page; twitter; facebook; instagram; tiktok; whatever we get from our core table -->
            <div class="card-body">
            
                <div class="small">
                    <p>[Democrat/Republican/Independent] from Georgia</p>
                    <!-- If house -->
                    <p>District [N]</p>
                    <!-- end if house -->
                    <p>First elected to the [House/Senate] in YYYY</p>
                    <p>Committees: list of committees</p>
                    <p>Offical website</p>
                    <p>Campagin website</p>
                    <p>Twitter/X Facebook YouTube</p>
                </div>
                <!-- <p class="card-text">Serving since <span id="section3-serving-since"></span></p> -->
                <!-- <p class="card-text">Pledge of Civility: <span id="section3-pledge"></span></p> -->
                <br>
                <!-- <div id='ideology'> -->
                    <!-- <h2>Ideology</h2> -->
                <!-- </div> -->
            </div>
        </div>
    </div>
    <div class="h-50">
    </div>
</div>

<div class="col-8 h-100">

    <div class="h-100 d-flex flex-column">

        <div class="overflow-auto flex-grow-1 my-0" id="s3-plots">

            <h5 class='mt-5 profile-card-box-title'>What [title and name] says</h5>
            <div class="maincard">
                <div class="small">Overall | In Congress | On Twitter/X | Press Releases/Newsletters | In online ads</div>
                <div class='' id='discourse'>
                    <div class='' id='discourse-bar-div'>
                        <canvas id='discourse-bar' class='dynamic-chart' data-script="{{ site.baseurl }}/assets/modules/charts/discourse-bar.js"></canvas>
                    </div>
                </div>

                <div class="w-100 row justify-content-center">
                    {% assign index = 0 %}
                    {% for category in site.data.meta.categories %}
                        <div class='col-md-4 category-guage' id=''>
                            <div class='' id=''>
                                <canvas id='gauge-{{category}}' class='dynamic-chart' data-script="{{ site.baseurl }}/assets/modules/charts/gauge.js" data-gauge="50" data-max='100' data-color='green'></canvas>
                            </div>
                                <h5 class="text-center text-wrap"><span class="place"></span> in {{ site.data.meta.category_labels[index] }}</h5>
                            <!-- <p></p> -->
                        </div>

                    {% assign index = index | plus: 1 %}
                    {% endfor %}
                </div>

            </div>
                

            <h5 class='mt-5 profile-card-box-title'>How effective is [title and name]</h5>
            <div class="maincard"></div>

            <h5 class='mt-5 profile-card-box-title'>How liberal or conserative is [title and name]</h5>
            <div class="maincard"></div>

        </div>
    </div>
</div>
<div class="container">
  <h5 class="text-nowrap">This text won't wrap and will overflow if it's too long.</h5>
  <h5 class="text-truncate">This text will be truncated with an ellipsis if it's too long.</h5>
  <h5 class="text-wrap">This text will wrap within the container if it's too long.</h5>
</div>
